# ----------------------------------------------
# Pywal
# --------------------------------------------

~/.screenlayout/monitor.sh &

~/.config/qtile/scripts/wallpaper.sh init

# ----------------------------------------------
# Screenshot tool
# ----------------------------------------------
flameshot &

# Network manager (if not using gnome/kde)
nm-applet &

# Volume control in system tray
pasystray &

# Clipboard manager
copyq &

# Notification daemon
dunst &

# Compositor for transparency and effects
picom &

