from libqtile import hook, layout, bar, widget
from libqtile.config import Key, Group, Screen
from libqtile.lazy import lazy

mod = "mod4"  # Super key
keys = [
    Key([mod], "Return", lazy.spawn("kitty")),
    Key([mod], "q", lazy.window.kill()),
    Key([mod], "r", lazy.spawncmd()),
    Key([mod], "j", lazy.layout.down()),
    Key([mod], "k", lazy.layout.up()),
    Key([mod], "h", lazy.layout.left()),
    Key([mod], "l", lazy.layout.right()),

    # Window
    Key([mod, "shift"], "f",
        lazy.window.toggle_fullscreen(),
        desc="Toggle fullscreen",
    ),
    Key([mod, "shift"], "Return", lazy.layout.swap_main(), desc="Swap with master"),


    # Applications
    Key([mod], "b", lazy.spawn("firefox")),
    Key([mod], "c", lazy.spawn("code")),
    Key([mod], "f", lazy.spawn("thunar")),

    # Resize
    Key([mod, "control"], "h", lazy.layout.shrink(), desc="Shrink window"),
    Key([mod, "control"], "l", lazy.layout.grow(), desc="Grow window"),

    # Shuffle
    Key([mod, "shift"], "h", lazy.layout.shuffle_left(), desc="Move window left"),
    Key([mod, "shift"], "l", lazy.layout.shuffle_right(), desc="Move window right"),
    Key([mod, "shift"], "j", lazy.layout.shuffle_down(), desc="Move window down"),
    Key([mod, "shift"], "k", lazy.layout.shuffle_up(), desc="Move window up"),
]


groups = [Group(i) for i in "123456789"]

for i in groups:
    keys.extend([
        Key([mod], i.name, lazy.group[i.name].toscreen()),
        Key([mod, "shift"], i.name, lazy.window.togroup(i.name)),
    ])

layouts = [
    layout.MonadTall(),
    layout.Stack(num_stacks=2),
    layout.Tile(),
]

screens = [
    Screen(top=bar.Bar([
        widget.GroupBox(),
        widget.Prompt(),
        widget.WindowName(),
        widget.Clock(format="%Y-%m-%d %H:%M"),
    ], 24)),
]

@hook.subscribe.startup_once
def autostart():
    # Restore Nitrogen wallpaper on startup
    os.system("/usr/bin/nitrogen --restore &")
