#!/bin/bash
# Wallpaper switcher with Rofi selection + random option

wallpaper_folder="$HOME/wallpapers"

case "$1" in
    "select")
        # Rofi selection mode
        selected=$(find "$wallpaper_folder" -type f \( -iname "*.jpg" -o -iname "*.jpeg" -o -iname "*.png" \) -exec basename {} \; | sort | while read rfile
        do
            echo -en "$rfile\x00icon\x1f$wallpaper_folder/${rfile}\n"
        done | rofi -dmenu -replace -l 6 -config ~/.config/rofi/config-wallpaper.rasi)

        [ -z "$selected" ] && exit
        feh --bg-scale "$wallpaper_folder/$selected"
        ;;
    
    "")
        # Random wallpaper mode
        random_wallpaper=$(find "$wallpaper_folder" -type f \( -iname "*.jpg" -o -iname "*.jpeg" -o -iname "*.png" \) | shuf -n 1)
        feh --bg-scale "$random_wallpaper"
        ;;
        
    *)
        echo "Usage: $0 [select|random]"
        exit 1
        ;;
esac
